body{background-color: beige}
.navbar li a{
    background-color: black;
    color: white;
    text-decoration: none;
    display: inline;
    justify-content: space-between;
}
h1{
    color:hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color:hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container img{
    margin: 0 10px;
}
.yachty{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reward{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: black;
    color:white
}