.container{
    margin: 0px;
}
body{
    margin: 0px;
    background-color: beige
}
/* navbar formatting */
.navbar ul{
    padding: 10px;
    margin: 0%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
.navbar a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    text-align: center;
    font-family: sans-serif, Times, 'Times New Roman';
    justify-content: space-between;
}
.navbar a:hover{
    color: black;
    background-color: white;
}
.navbar li{
    float: left;
    text-align: center;
    list-style-type: none;
}
.navbar-container{
    background-color: black;
    margin: 0%;
    padding: 0%;
}
.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar-logo img{
    width: 30px;
}
.navbar-logo.tn_right{
    float: right;
}
.navbar-logo.tn_left{
    float: left;
}
h1{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: copperplate, serif;
}
h2{
    color:hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container img{
    margin: 0 10px;
}
.yachty{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_banner{
    align-items: center;
    justify-content: space-between;
}
.logo_banner img{
    width: 100px;
    height: auto;
}
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content2{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: black;
    color:white
}