.container{
    margin: auto;
}
body{background-color: beige}
.navbar li a{
    color: white;
    font-family: serif, Times, 'Times New Roman';
    text-decoration: none;
    display: inline;
    justify-content: right;
}
.navbar-container{
    background-color: black;
}
.h1-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h1-container figure{
    margin: 0;
}
.h1-container img{
    width: 30px;
}
.h1-container .tn1{
    margin-right: 10px;
}
.h1-container .tn2{
    margin-left: 10px;
}
h1{
    color:hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color:hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container img{
    margin: 0 10px;
}
.yachty{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content2{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: black;
    color:white
}